<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>tìm kiếm</title>
</head>
<body>

  <tr>
    <td><input type="text" name="name" size="30" maxlength="20"></td>
    <td>
      <input type="submit" value="tìm kiếm ">
      <input type="reset" value="Thiết lập lại">
    </td>
  </tr>
</body>
</html>

